<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Início</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <main role="main" class="container">
      <h1 class="mt-5">Seja bem-vindo</h1>
      <p class="lead">Você está na página inicial, realize seu login!</p>
      <a class="btn btn-primary" role="button" href="/login">Entrar</a>      
      <a class="btn btn-warning" role="button" href="/login/cadastro">Cadastrar</a>      
    </main>
  </body>
</html>
